.timer-controls {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-top: 24px;
  margin-bottom: 32px;

  text-align: left;
}

#datetime-picker {
  width: 272px;
  height: 40px;
  padding: 8px 16px;

  color: #2e2f42;
  font-size: 16px;

  background-color: #fff;

  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

#datetime-picker:hover {
  border-color: #000;
}

#datetime-picker:focus {
  border-color: #4e75ff;
}

[data-start] {
  height: 40px;
  padding: 8px 16px;

  color: #fff;
  font-size: 16px;
  font-weight: 500;

  background-color: #4e75ff;

  border: none;
  border-radius: 8px;
}

[data-start]:hover:not(:disabled) {
  background-color: #6c8cff;
}

[data-start]:disabled {
  color: #989898;
  background-color: #cfcfcf;

  cursor: not-allowed;
}

.timer {
  display: flex;
  gap: 24px;

  text-align: left;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.label {
  font-size: 16px;
  line-height: 1.5;

  text-transform: uppercase;
}
